# =============================================================================
# fritzFlux - Environment Configuration
# =============================================================================
# Du kannst diese Datei kopieren nach ".env" und deine eigenen Werte setzen.
# Die meisten Variablen können auch über die fritzFlux.ini konfiguriert werden.
# =============================================================================

# --- General System Settings ---
LOG_LEVEL=INFO
TZ=Europe/Berlin
CB_SECRET_KEY="<your-secret-key-here>"

# =============================================================================
# FritzBox Configuration
# =============================================================================
# Entspricht der [fritzbox] Sektion in der fritzFlux.ini
FRITZBOX_HOSTNAME="192.168.178.1"
FRITZBOX_USERNAME="<your-fritzbox-username>"
FRITZBOX_PASSWORD="<your-fritzbox-password>"
# FRITZBOX_PORT=49000
# FRITZBOX_TLS_ENABLED=False
# FRITZBOX_VERIFY_TLS=False
# FRITZBOX_CONNECT_TIMEOUT=10
# FRITZBOX_REQUEST_INTERVAL=10
# FRITZBOX_BOX_TAG="fritz.box"
# FRITZBOX_TIMEZONE="Europe/Berlin"

# =============================================================================
# InfluxDB Configuration
# =============================================================================
# Entspricht der [influxdb] Sektion in der fritzFlux.ini

# --- Allgemeine Einstellungen ---
INFLUXDB_VERSION=2
INFLUXDB_HOSTNAME="<your-influxdb-hostname>"
INFLUXDB_PORT=8086

# INFLUXDB_TLS_ENABLED=False
# INFLUXDB_VERIFY_TLS=False
# INFLUXDB_MEASUREMENT_NAME="fritzbox"

# --- InfluxDB v1 Einstellungen ---
# INFLUXDB_DATABASE="<my-database>"
# INFLUXDB_USERNAME="<v1-username>"
# INFLUXDB_PASSWORD="<v1-password>"

# --- InfluxDB v2 Einstellungen ---
INFLUXDB_ORGANISATION="<my-org>"
INFLUXDB_BUCKET="<my-bucket>"
INFLUXDB_TOKEN="<my-v2-token>"
